<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnvironmentSection" type="SeleniumFramework.Configuration.Environments.EnvironmentsSection, SeleniumFramework" />
    <section name="User" type="SeleniumFramework.Configuration.User.User, SeleniumFramework" />
  </configSections>

  <appSettings>
    <add key="ErrorCaptureLocation" value="ErrorCaptureLocation"/>

    <add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver"/>
    <!--<add key="Browser" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>-->
    <!--<add key="Browser" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>-->
  </appSettings>

  <User login="" password="" />

  <EnvironmentSection>
    <Environments>
      <Environment name="StartMobilePage" url="http://www.seleniumframework.com/intermediate-tutorial/override-useragent/" pageTitle="Selenium Framework | Override useragent" />
      <Environment name="StartWinPage" url="http://www.seleniumframework.com/intermediate-tutorial/override-useragent/" pageTitle="Selenium Framework | Override useragent" />
    </Environments>
  </EnvironmentSection>

</configuration>